body {
  line-height: $line-height;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #88c;
}

#wrapper {
  background: white url("../images/background-gradient.png") center top repeat-y;
  > header {
    margin: 0 auto;
    width: 971px;
    background: #ccf;
    border-bottom: 1px solid #ccc;
    height: 3 * $line-height - 1;
    h1 {
      @include span(24);
      margin: 0 auto;
      padding: ($line-height / 3) ($column-padding) (2 * $line-height / 3);
      font-size: 2 * $line-height;
      line-height: 2 * $line-height;
    }
  }

  #container {
    @include container;
    min-height: 400px;

    background: transparent url("../images/horizontal-gradient.png") (($blueprint-grid-width + $blueprint-grid-margin) * 4 - $blueprint-grid-margin - 10px) top repeat-y;
    &.showgrid {
      @include showgrid;
    }

    > nav {
      @include column(4);
      margin-top: $line-height / 2 - 1px;
      ul {
        li {
          list-style: none;
          a {
            text-decoration: none;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-left: 1px solid #ccc;
            display: block;
            padding: ($line-height / 2 - 1px) $column-padding ($line-height / 2) 9px + $column-padding;
          }
          &.current {
            background: white;
          }
          & + li {
            margin-top: ($line-height / 2 - 1px);
          }
        }
      }
    }

    > article {
      @include column(20, true);
      padding-top: $line-height;
      > * {
        margin-bottom: $line-height;
      }
      > p {
        padding: 0 $column-padding;
      }
      > ul {
        padding: 0 $column-padding 0 $column-padding + 20px;
        list-style: bullet;
        li {
          margin-bottom: $line-height;
          a {
            border: none;
            padding: 4px;
          }
          a:hover {
            border: 1px solid #ccf;
            background: #eef;
            padding: 3px;
          }
        }
      }
      > section.box {
        clear: both;
        border: 1px solid #ccc;
        padding: ($line-height / 2 - 1px) ($column-padding - 1px);
      }
      > header {
        background: #cff;
        padding: 0 $column-padding;
        h1 {
          font-size: 24px;
          line-height: 2 * $line-height;
          padding: ($line-height / 2) 0;
        }
        h2 {
          font-size: 18px;
          line-height: 2 * $line-height;
        }
      }
      > aside {
        @include column(6);
        @include float-right;
        margin: 0 0 $line-height $blueprint-grid-margin;
        figure {
          margin: 0;
          border: 1px solid #ccc;
          img {
            display: block;
            margin: 0 auto;
            padding: $line-height - 1px 0;
          }
        }
      }
    }
  }

  > footer {
    margin: 0 auto;
    width: 971px;
    background: #cfc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 3 * $line-height - 1;
    > * {
      padding: (2 * $line-height / 3) ($column-padding) (4 * $line-height / 3);
    }
  }
}
